{{template "header"}}
<div class="container">
    <div class="row">
        <div class="columns twelve">
            <br>
            <h5 class="title">
                Bao: <a href="">{{.Id}}</a>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="columns twelve">
            <p>
                Bao sucessfully created!
            </p>
            <table class="u-full-width">
                <tbody>
                    <tr>
                        <th>Server Root:</th>
                        <td>
                            <a href="http://{{.Id}}.gitbao.com">
                                http://{{.Id}}.gitbao.com
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Date Created:</th>
                        <td>{{.DateCreated}}</td>
                    </tr>
                    <tr>
                        <th>Source:</th>
                        <td>
                            <a href="{{.Gist.HTMLURL}}">
                                {{.Gist.HTMLURL}}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>Build Again:</th>
                        <td>
                            <a href="{{.Root}}/{{.Gist.Owner.Login}}/{{.Gist.ID}}">
                                {{.Root}}/{{.Gist.Owner.Login}}/{{.Gist.ID}}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="debug">
                <b>Debug</b>
                <pre><code>{{.Stats}}</code></pre>
            </div>
        </div>
    </div>
</div>

{{template "footer"}}
