{{template "header"}}
<div class="container landing">
    <div class="row">
        <div class="columns eight offset-by-two">
            <div class="center landing-head">
                <img src="/bao.jpg">
                <h2>gitbao</h2>
                <blockquote>
                    Wrapping up your github gists into delicious cloud-shaped bao buns.
                </blockquote>
            </div>
            <p>
                Welcome to gitbao. Gitbao is an experimental
                new way to deploy small web services. 
            </p>
            <b>
                Take some code:
            </b>
            <p>
                <a href="https://gist.github.com/maxmcd/f430e80ab3246b2ae6d9" target="blank">
                    https://gist.github.com/maxmcd/f430e80ab3246b2ae6d9
                </a>
            </p>
            <b>
                Change the url:
            </b>
            <p>
                <a href="https://gist.gitbao.com/maxmcd/f430e80ab3246b2ae6d9">
                    https://gist.git<b>bao</b>.com/maxmcd/f430e80ab3246b2ae6d9
                </a>
            </p>
            <p>
                Your application will be built, deployed, and you'll be 
                provided a url to access your application. 
            </p>
            <br />
            <br />
            <p>
                <b>The Details:</b>
            </p>
            <ol>
                <li>
                    Gitbao is <b>very</b> experimental. Random errors will definitely occur.
                    Proceed with caution. 
                </li>
                <li>
                    Gitbao is slow. Gitbao hosts applications on 
                    <a href="https://aws.amazon.com/lambda/">
                        AWS Lambda
                    </a>. 
                    This means it's very inexpensive but there is 
                    sometimes a 300ms+ additional delay for every
                    request. 
                </li>
                <li>
                    Gitbao only supports Go. We're hoping to add more
                    language support in the future.
                </li>
                <li>
                    Gitbao is free, for now. It's very cheap to run, 
                    when that changes we'll likely change to a "charge
                     for use" model.
                </li>
                <li>
                    More questions? Gitbao was created by <a href="mailto:m@xmcd.me">Max</a>,
                    feel free to contact him. 
                </li>
            </ol>
            <br><br>
        </div>
    </div>
</div>
{{template "footer"}}
